body{ text-align: center;
margin-top: 250px;}

.calculator {
    border: dashed brown;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
  }

  .button {
    padding: 10px;
    text-align: center;
    background-color: #e0e0e0;
    cursor: pointer;
  }
